@model IEnumerable<MusicStoreSite.Models.Entities.Product>

@{
    ViewBag.Title = "Goyello Music Store";
}

<div class="logo">
    <img class='thumbnail' src="@Url.Content("~/Content/Images/new-products.jpg")" alt="Image" />
</div>

@if (@Model.Count() == 0)
{
    <b>Sorry, we currently have no products.</b>
}
else
{ 
    <div class="row newProducts">
        <h2>Fresh of the grill</h2>
        @foreach (var product in @Model)
        {
            <div class="col-md-2 product">
                @if (product.CoverLocation != null)
                {
                    <img class='thumbnail album-cover-min' src="@Url.Content("~/Content/Images/AlbumCovers/" + product.CoverLocation)" alt="Image" />
                }
                else
                {
                    <img class='thumbnail album-cover-min' src="@Url.Content("~/Content/Images/placeholder.gif")" alt="Image" />
                }
                @Html.ActionLink(product.Title, "ProductDetails", new { id = product.ProductId })
            </div>
        }
    </div>
}