@using MusicStoreSite.Models
@model ProductViewModel

<h2>@Model.Title </h2>

<div>
    <p>
        <img class='thumbnail' src="@Url.Content("~/Content/Images/placeholder.gif")" alt="Image" />
    </p>
</div>
<div class="productFields">
    <p>
        <em class="productFieldLabel">Genre:  </em>
        @Model.Genre
    </p>
    <p>
        <em class="productFieldLabel">Artist: </em>
        @Model.Artist
    </p>
    <p>
        <em class="productFieldLabel">Price: </em>
        @Model.Price
    </p>

</div>

<a href="#" data-toggle="modal" id="AddToShoppingCart" class="btn btn-lg btn-success">Add to Cart</a>
<div id="modalContainer"></div>
@Html.Hidden("id",Model.ProductId, new{id = "htmlProductId"})

@section scripts {
    <script src="~/Scripts/AddProductDialog.js"></script>
}

