@model MusicStoreSite.Models.Entities.ShoppingCart

@{
    ViewBag.Title = "Shopping cart";
    decimal sum = 0M;
}

<h2>Review your cart:</h2>

<table class="table">
    <tr>
        <th>Album Name</th>
        <th style="text-align: right">Price</th>
        <th style="text-align: right">Quantity</th>
    </tr>
    @foreach (var item in Model.Products.GroupBy(x => x.ProductId)
        .Select(product => new
        {
            Id = product.Key,
            Price = product.Select(x => x.Price).Last(),
            Quantity = product.Count(),
            Name = product.Select(x => x.Artist + " - " + x.Title).Last()
        }))
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td style="text-align: right">
                @item.Price
            </td>
            <td style="text-align: right">
                @item.Quantity
            </td>
            <td>
                @Html.ActionLink("Remove from cart", "RemoveFromCart", new {productId = item.Id})
            </td>
        </tr>
        sum += item.Price * item.Quantity;
    }
    <tr>
        <td><b>Total</b></td>
        <td style="text-align: right"><b>@sum</b></td>
    </tr>
</table>
@if (Model.Products.Any())
{
    @Html.ActionLink("Checkout", "CheckoutScreen", "Store", new {@class = "btn btn-lg btn-success"})
}


