@model MusicStoreSite.Models.Entities.Product

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Product</legend>

    <h3>
        @Html.DisplayNameFor(model => model.Artist)
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.Artist)
    </div>

    <h3>
        @Html.DisplayNameFor(model => model.Title)
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <h3>
        @Html.DisplayNameFor(model => model.Genre)
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.Genre)
    </div>

    <h3>
        @Html.DisplayNameFor(model => model.Price)
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <h3>
        @Html.DisplayNameFor(model => model.AddedAt)
    </h3>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddedAt)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" />
        |
            @Html.ActionLink("Back to List", "Index")
    </p>
}
